<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ModManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ModManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ModManager.Properties.Settings>
            <setting name="ModImportPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ModExportPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PresetFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SessionCookie" serializeAs="String">
                <value>connect.sid=s%3Ah-e9x7JQkOcJWQQOKaxzBmTXzXLzGhaO.EkjLJ%2FRXHz1jzBfQlfaOD%2BEoPzGig33RrK6sdmkX21M;</value>
            </setting>
        </ModManager.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ModManager.Properties.Settings>
            <setting name="XMAUrl" serializeAs="String">
                <value>https://xivmodarchive.com</value>
            </setting>
        </ModManager.Properties.Settings>
    </applicationSettings>
</configuration>