<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ModManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ModManager.Properties.Settings>
            <setting name="ModImportPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ModExportPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PresetFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>False</value>
            </setting>
        </ModManager.Properties.Settings>
    </userSettings>
</configuration>